[ainews]

; ainews_root is the root directory of the Python code
; (leave trailing slash)
ainews_root = /path/to/AINews/

; (leave trailing slash)
category_data = /path/to/category/

; (leave trailing slash)
news_data = /path/to/news/

; (leave trailing slash)
output = /path/to/output/

; (leave trailing slash)
html = /path/to/html/

; (leave trailing slash)
rss = /path/to/rss/

stoplist = /path/to/stoplist.txt

[libraries]

; (leave trailing slash)
tools = /path/to/tools/

[templates]

; (leave trailing slash)
compiled = /path/to/compiled/

[pmwiki]

; (leave trailing slash)
dir = /path/to/pmwiki/

[svm]

; (leave trailing slash)
svm_data = /path/to/svm/

[corpus]

; (leave trailing slash)
corpus_other = /path/to/corpus/other/

; pickle files
duplist = /path/to/corpus/duplist.pkl
notduplist = /path/to/corpus/notduplist.pkl

[feedback]

; collect the user's feedback score into a file
feedback_score = /path/to/resource/feedback.csv
editor_score = /path/to/resource/editor.csv

; (leave trailing slash)
submit_news_data = /path/to/submit_news_data/

